In [2]:
import pandas as pd
import numpy as np

In [3]:
n_samples=1000
class_ratio=0.9
n_ones=int(class_ratio*n_samples)
n_zeros=int(n_samples-n_ones)
print(n_samples,n_ones,n_zeros)

1000 900 100

In [4]:
## Creating the imbalanced dataset
np.random.seed(123)
df_majority=pd.DataFrame({
'feature1':np.random.normal(loc=0,scale=1,size=n_ones),
'feature2':np.random.normal(loc=2,scale=1,size=n_ones),
'target':[1]*n_ones}
)

df_minority= pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_zeros),
    'feature2':np.random.normal(loc=2,scale=1,size=n_zeros),
    'target':[0]*n_zeros
})

In [19]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  2.551302       1
1  0.997345  2.419589       1
2  0.282978  3.815652       1
3 -1.506295  1.747250       1
4 -0.578600  1.707996       1

In [20]:
df_minority.head()

   feature1  feature2  target
0 -0.300232  2.139033       0
1 -0.632261  2.025577       0
2 -0.204317  1.803557       0
3  0.213696  3.312255       0
4  1.033878  3.187417       0

In [5]:
df=pd.concat([df_majority,df_minority]).reset_index(drop=True)

In [6]:
df.head(2)

   feature1  feature2  target
0 -1.085631  2.551302       1
1  0.997345  2.419589       1

In [21]:
df.tail(2)

     feature1  feature2  target
998  0.902006  0.390305       0
999  0.697490  2.013570       0

In [23]:
df['target'].value_counts()

target
1    900
0    100
Name: count, dtype: int64

## Upsampling the minority dataset

In [8]:
from sklearn.utils import resample

In [9]:
df_minority_upsampled=resample(df_minority,replace=True,n_samples=n_ones,random_state=42)

In [10]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled]).reset_index(drop=True)

In [ ]:
df_upsampled.shape

(1800, 3)

In [24]:
df_upsampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

## Downsampling the majority datset

In [13]:
df_majority_downsampled=resample(df_majority,replace=False,n_samples=n_zeros,random_state=42)

In [15]:
df_majority_downsampled.shape

(100, 3)

In [17]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority]).reset_index(drop=True)

In [18]:
df_downsampled.shape

(200, 3)